body {
	margin: 0;
	padding: 0;
}

svg > .node rect {
	fill: lightgreen;
	stroke: darkgreen;
	stroke-width: 3;
}

svg > .node text {
	/*text-anchor: middle;
	alignment-baseline: middle;*/
	font-size: 20;
}

svg .node path {
	stroke: darkgreen;
	stroke-width: 2;
	fill: none;
}