body {
	margin: 0;
	padding: 0;
}

.instructions {
	position: absolute;
	top: 0;
	right: 2em;
}

svg .node text {
	alignment-baseline: middle;
}

svg .node rect {
	fill: none;
	stroke: blue;
	stroke-width: 3;
}

svg .hub > rect {
	fill: lightgreen;
	stroke: darkgreen;
}

svg .node.selected > text {
	fill: #d00;
}

svg .node.selected > rect {
	fill: #fdd;
	stroke: #d00;
}

svg .paths path {
	stroke: darkgreen;
	stroke-width: 2;
	fill: none;
}