body {
	margin: 0;
	padding: 0;
}

svg {
	font-family: sans-serif;
}

.instructions {
	font-size: 2em;
	text-anchor: middle;
	alignment-baseline: middle;
}

svg .node {
	cursor: pointer;
}

svg .node text {
	alignment-baseline: middle;

	/* Prevent text selection highlighting on dragging.
	   To achieve this via JavaScript:
	       Pablo(textEl).cssPrefix('user-select', 'none');
	*/
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

svg .node rect {
	fill: none;
	stroke: none;
	stroke-width: 2;
}

svg .node path {
	stroke: darkgreen;
	stroke-width: 2;
	fill: none;
}

/* Hub */
svg > .node > rect {
	fill: lightgreen;
	stroke: darkgreen;
}

/* Selected */
svg .node.selected > rect {
	fill: #fdd;
	stroke: #d00;
	stroke-width: 1;
}
svg .node.selected > text {
	fill: #d00;
}