/* Containers */
body {
	margin: 0;
	padding: 0;
}
svg {
	font-family: sans-serif;
}

/* Text about the app */
.instructions {
	font-size: 30px;
}

/* Node */
.node {
	cursor: pointer;
}

.node text {
	fill: #000;

	/* Prevent text selection highlighting on dragging. And add browser vendor prefixes,
	   e.g. `-moz-user-select`. To alternatively use one line of JavaScript to apply 
	   vendor-prefixed styles to a collection of elements, using Pablo:

	       Pablo(element).cssPrefix('user-select', 'none');
	*/
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.node rect {
	fill: none;
	stroke: none;
	stroke-width: 1;
}
.node path {
	fill: none;
	stroke: #e50000;
	stroke-width: 2;
}

/* Selected node:
   style the <rect> that is a direct child of the node (i.e. not <rect>'s
   belonging to child nodes)
*/
.node.selected > rect {
	fill: #fff;
	stroke: #e50000;
}

/* Different styles for the first node */
svg > .node > rect, 
svg > .node.selected > rect {
	fill: #333;
}
svg > .node > text {
	fill: #fff;
}
svg > .node.selected > text {
	fill: #e50000;
}